.URI{
				background-color:#797979;
				padding :40px;
				margin-top:-10px;
				margin-left:-9px;
				margin-right:-9px;
				
}
.logo{
				font-size:3px;
				font-color:#5aadd9;
				font-family:font-family: 'Nerko One', cursive;


}
